body {
    font-family: 'humane', 'sans-serif';
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;

    .nav-icon {
        position: fixed;
        transform: translate(49vw, 8vh);
        cursor: pointer;
    }

    div.c1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div.title {
            font-size: 14em;
            font-weight: 300;
            letter-spacing: 13px;
        }

        div.desc {
            font-size: 3em;
            color: rgb(63 63 63);
            letter-spacing: .2em;
            font-weight: 300;
        }
    }
}